#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {  
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp F1     &kp F2     &kp F3    &kp F4
                &kp F5     &kp F6     &kp F7    &kp F8
                &kp F9     &kp F10     &kp F11    &kp F12
                &kp F13     &kp F14     &kp F15    &kp F16
            >;
        }; 
    };
    sensor-bindings {
        compatible = "zmk,sensor-binding";

        // Rotary Encoder 1
        sensor1 {
            rotate_cw = &kp VOL_UP;       // Rotate clockwise increases volume
            rotate_ccw = &kp VOL_DN;      // Rotate counterclockwise decreases volume
            press = &kp MUTE;             // Press to mute
        };

        // Rotary Encoder 2
        sensor2 {
            rotate_cw = &kp PGUP;         // Rotate clockwise scrolls page up
            rotate_ccw = &kp PGDN;        // Rotate counterclockwise scrolls page down
            press = &kp ENTER;            // Press to enter
        };
    };
};